# systemd unit file for the MediumBot Service

[Unit]

# Human readable name of the unit
Description=MediumBot Service

[Service]

Type=simple

# Command to execute when the service is started
ExecStart="/home/deyaa/.local/bin/mediumbot -c /home/tyler/Desktop/mediumbot/config/.hackermotto.yaml"

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

# Automatically restart the service if it crashes
# Restart=always
Restart=on-failure

# Our service will notify systemd once it is up and running
Type=notify

# Use a dedicated user to run our service
# User=python_demo_service
User=root


[Install]

# Tell systemd to automatically start this service when the system boots
# (assuming the service is enabled)
# WantedBy=default.target
WantedBy=multi-user.target
